

fastapi~=0.115.12
uvicorn~=0.34.2
pydantic~=2.11.3
sentence-transformers~=5.4.1
nvidia-ml-py~=12.560.30
psutil~=7.2.2
streamlit~=1.45.1
pandas
pyyaml~=6.0.2
requests~=2.32.3
ollama~=0.6.2
httpx~=0.28.1
